WebApplication/Connected Services/UtilityServiceRef/UtilityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="https://webstrar.fulton.asu.edu/website142" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="https://webstrar.fulton.asu.edu/website142" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://webstrar.fulton.asu.edu/website142">
      <s:element name="CountCharacters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountCharactersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountCharactersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddIntegers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddIntegersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddIntegersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReverseStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReverseStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CountCharactersSoapIn">
    <wsdl:part name="parameters" element="tns:CountCharacters" />
  </wsdl:message>
  <wsdl:message name="CountCharactersSoapOut">
    <wsdl:part name="parameters" element="tns:CountCharactersResponse" />
  </wsdl:message>
  <wsdl:message name="AddIntegersSoapIn">
    <wsdl:part name="parameters" element="tns:AddIntegers" />
  </wsdl:message>
  <wsdl:message name="AddIntegersSoapOut">
    <wsdl:part name="parameters" element="tns:AddIntegersResponse" />
  </wsdl:message>
  <wsdl:message name="ReverseStringSoapIn">
    <wsdl:part name="parameters" element="tns:ReverseString" />
  </wsdl:message>
  <wsdl:message name="ReverseStringSoapOut">
    <wsdl:part name="parameters" element="tns:ReverseStringResponse" />
  </wsdl:message>
  <wsdl:portType name="UtilityServiceSoap">
    <wsdl:operation name="CountCharacters">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Counts the number of characters in the input string.</wsdl:documentation>
      <wsdl:input message="tns:CountCharactersSoapIn" />
      <wsdl:output message="tns:CountCharactersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddIntegers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds two integers and returns the sum.</wsdl:documentation>
      <wsdl:input message="tns:AddIntegersSoapIn" />
      <wsdl:output message="tns:AddIntegersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reverses the input string and returns the reversed string.</wsdl:documentation>
      <wsdl:input message="tns:ReverseStringSoapIn" />
      <wsdl:output message="tns:ReverseStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UtilityServiceSoap" type="tns:UtilityServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CountCharacters">
      <soap:operation soapAction="https://webstrar.fulton.asu.edu/website142/CountCharacters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIntegers">
      <soap:operation soapAction="https://webstrar.fulton.asu.edu/website142/AddIntegers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap:operation soapAction="https://webstrar.fulton.asu.edu/website142/ReverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UtilityServiceSoap12" type="tns:UtilityServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CountCharacters">
      <soap12:operation soapAction="https://webstrar.fulton.asu.edu/website142/CountCharacters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIntegers">
      <soap12:operation soapAction="https://webstrar.fulton.asu.edu/website142/AddIntegers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap12:operation soapAction="https://webstrar.fulton.asu.edu/website142/ReverseString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UtilityService">
    <wsdl:port name="UtilityServiceSoap" binding="tns:UtilityServiceSoap">
      <soap:address location="http://webstrar142.fulton.asu.edu/Page10/UtilityService.asmx" />
    </wsdl:port>
    <wsdl:port name="UtilityServiceSoap12" binding="tns:UtilityServiceSoap12">
      <soap12:address location="http://webstrar142.fulton.asu.edu/Page10/UtilityService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>